.App {
  text-align: center;
}

.Todo-App {
  padding-top: 40px;
  display: inline-block;
  text-align: left;
  position: relative;
}

input {
  font-size: 20px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.message {
  background-color: #61DAFB;
  color: #fff;
  border: solid 1px #61DAFB;
  position: absolute;
  text-align: center;
  width: 200px;
  top: 10px;
  left: 7px;
}

li span.delete-item {
  visibility: hidden;
}

span.delete-item button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: red;
}

li:hover span.delete-item {
  visibility: visible;
}